
	<ul class="nav nav-list sidebar">
	  <li><%= link_to "Universities", "/general/ranking" %></li>
	  <li><%= link_to "Major ranking","/majorrankings/new"%></li>
	  <li><%= link_to "Hot universities", "/general/hot_ranking" %></li>
		<li><%= link_to "Recommended Universities", "/recommendeduniversities/new" %></li>
	</ul>
	
